@import '../../sass/var', '../../sass/mixins';

.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &Sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &Title {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 0.06em;

    &::before {
      @include position(absolute, $r: 0, $b: -8px);
      @include size(60px, 2px);
      content: "";
      background-color: $primaryColor;
    }
  }
}
